
<div class="container">
  <div class="row" style="margin-top: 3rem">
    <div class="col m4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1550792404-f62d4ce3bb3e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Continue Prescription</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/users/login" class="btn btn-dark">Login</a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Ensure Good Health</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/users/register" class="btn btn-dark">Register</a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1588615420294-4ba0fa0135f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Check Your Symptoms</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/diseases" class="btn btn-dark">Diseases</a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1563213126-a4273aed2016?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Prescription</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/medicines" class="btn btn-dark">Medicines</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% if (topDisease) { %>
<div class="home-section-title-wrap">
  <div class="home-section-title">
    <p class="container display-4">
      Top Diseases 
    </p>
  </div>
  <hr />
</div>

<div class="container">
  <div class="row" style="margin: 10px auto">
    <% topDisease.forEach((value, index, array) => { %>
    <div class="col-md-4 m m4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= value.name %></h5>
          <p class="card-text"><%= value.description.substring(0, 100) %>...</p>
          <!-- <a href="/users/login" class="btn btn-dark">Login</a> -->
        </div>
      </div>
    </div>
    <% }); %>
    <div class="col-md-4 m4"  style="display: flex; justify-content: center; align-items: center;">
      <div class="">
        <div class="">
          <a href="/diseases" style="color: #141E30;">
            <h2>more</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<% } %> <% if (topMedicine) { %>
<div class="home-section-title-wrap">
  <div class="home-section-title">
    <p class="container display-4">
      Top Medicines
    </p>
  </div>
  <hr />
</div>

<div class="container">
  <div class="row" style="margin: 10px auto">
    <% topMedicine.forEach((value, index, array) => { %>
    <div class="col-md-4 m m4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= value.name %></h5>
          <p class="card-text"><%= value.description.substring(0, 100) %>...</p>
          <!-- <a href="/users/login" class="btn btn-dark">Login</a> -->
          <% value.diseases.forEach((dis_value, dis_index, dis_array) => { %>
            <% if (dis_index < 3) { %>
              <span class="alert alert-dark" style="padding: 1px 5px; border-radius: 2px !important;"><%= dis_value %></span>
            <% } else { %>
              <a href="/medicines">
                <span class="alert alert-dark" style="padding: 1px 5px;"> + </span>
              </a>
            <% } %>
          <% }); %>
        </div>
      </div>
    </div>
    <% }); %>
     <div class="col-md-4 m4"  style="display: flex; justify-content: center; align-items: center;">
      <div class="">
        <div class="">
          <a href="/medicines" style="color: #141E30;">
            <h2>more</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
