<%- include('../partials/header') %>
<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="tales img-fluid"
        src="https://cdn.pixabay.com/photo/2016/10/10/13/20/drugs-1728381_1280.jpg"
        alt="Los Angeles"
      />
    </div>
    <div class="carousel-item">
      <img
        class="tales"
        src="https://cdn.pixabay.com/photo/2017/09/16/19/21/salad-2756467_1280.jpg"
        alt="Chicago"
      />
    </div>
    <div class="carousel-item">
      <img
        class="tales img-fluid"
        src="https://cdn.pixabay.com/photo/2018/07/11/06/21/pulse-3530383_1280.jpg"
        alt="New York"
      />
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="container">
  <div class="row" style="margin-top: 3rem">
    <div class="col m4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1550792404-f62d4ce3bb3e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Continue Prescription</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/users/login" class="btn btn-dark">Login</a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Ensure Good Health</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/users/register" class="btn btn-dark">Register</a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1588615420294-4ba0fa0135f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Check Your Symptoms</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/diseases" class="btn btn-dark">Diseases</a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1563213126-a4273aed2016?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Prescription</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="/medicines" class="btn btn-dark">Medicines</a>
        </div>
      </div>
    </div>
  </div>
</div>

<% if (topDisease) { %>
<div class="home-section-title-wrap">
  <div class="home-section-title">
    <p class="container display-4">
      <strong> Top Diseases You Should know about</strong>
    </p>
  </div>
  <hr />
</div>

<div class="container">
  <div class="row" style="margin: 10px auto">
    <% topDisease.forEach((value, index, array) => { %>
    <div class="col-md-4 m m4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= value.name %></h5>
          <p class="card-text"><%= value.description.substring(0, 100) %>...</p>
          <!-- <a href="/users/login" class="btn btn-dark">Login</a> -->
        </div>
      </div>
    </div>
    <% }); %>
    <div class="col-md-4 m4"  style="display: flex; justify-content: center; align-items: center;">
      <div class="">
        <div class="display-4">
          <a href="/diseases" style="color: #141E30;">
            see more
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %> <% if (topMedicine) { %>
<div class="home-section-title-wrap">
  <div class="home-section-title">
    <p class="container display-4">
      <strong> Top Medicines You Should know about </strong>
    </p>
  </div>
  <hr />
</div>

<div class="container">
  <div class="row" style="margin: 10px auto">
    <% topMedicine.forEach((value, index, array) => { %>
    <div class="col-md-4 m m4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= value.name %></h5>
          <p class="card-text"><%= value.description.substring(0, 100) %>...</p>
          <!-- <a href="/users/login" class="btn btn-dark">Login</a> -->
          <% value.diseases.forEach((dis_value, dis_index, dis_array) => { %>
            <% if (dis_index < 3) { %>
              <span class="alert alert-dark" style="padding: 1px 5px; border-radius: 2px !important;"><%= dis_value %></span>
            <% } else { %>
              <a href="/medicines">
                <span class="alert alert-dark" style="padding: 1px 5px;"> + </span>
              </a>
            <% } %>
          <% }); %>
        </div>
      </div>
    </div>
    <% }); %>
     <div class="col-md-4 m4"  style="display: flex; justify-content: center; align-items: center;">
      <div class="">
        <div class="display-4">
          <a href="/medicines" style="color: #141E30;">
            see more
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %> <%- include('../partials/footer') %>
