<!-- BODY STARTS -->
<div class="navigation-on-map">
  <a
    class="nav-link map-nav"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 333 333"
      style="enable-background: new 0 0 333 333"
      xml:space="preserve"
    >
      <g>
        <g>
          <path
            d="M323,31.5H10c-5.5,0-10,4.5-10,10s4.5,10,10,10h313c5.5,0,10-4.5,10-10S328.5,31.5,323,31.5z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M230,114.5H10c-5.5,0-10,4.5-10,10s4.5,10,10,10h220c5.5,0,10-4.5,10-10S235.5,114.5,230,114.5z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M323,198.5H10c-5.5,0-10,4.5-10,10s4.5,10,10,10h313c5.5,0,10-4.5,10-10S328.5,198.5,323,198.5z"
          />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M151,281.5H10c-5.5,0-10,4.5-10,10s4.5,10,10,10h141c5.5,0,10-4.5,10-10S156.5,281.5,151,281.5z"
          />
        </g>
      </g>
    </svg>
  </a>
  <div class="dropdown nav-item">
    <div
      class="dropdown-menu fade-up animate slideIn py-0"
      aria-labelledby="dropdownMenuButton"
    >
      <a class="dropdown-item" href="<%= ROUTES.ROOT_PATH %>">Home</a>
      <a class="dropdown-item" href="#">Test</a>
      <div class="dropdown-divider"></div>
      <a 
        class="dropdown-item" 
        id="addLocation" 
        href="#"
        >Add location</a
      >
      <a 
        class="dropdown-item"
        id="updateLocation" 
        href="#"
        >Update location</a
      >
      <a 
        class="dropdown-item"
        id="deleteLocation"
        href="#"
        >Delete location</a
      >
    </div>
  </div>
</div>
<div id="map"></div>

<div id="secret-location-data" style="display: none !important;">
  <!-- location data to use in maps.js -->
  <div id="user_location">
    <% if (user_location) { %>
      <% user_location.forEach((value, index, array) => { %>
        <span id="lat"><%= value.latitude %></span>
        <span id="lng"><%= value.longitude %></span>
      <% }); %>
    <% } %>
  </div>

  <div id="locations">
    <% if (locations) { %>
      <% locations.forEach((value, index, array) => { %>
        <span id="lat"><%= value.latitude %></span>
        <span id="lng"><%= value.longitude %></span>
      <% }); %>
    <% } %>
  </div>
</div>
<!-- BODY ENDS -->
